html, body {
	background-image: linear-gradient(to bottom, #d5d5d5, #dfdfdf, #e9e9e9, #f3f3f3, #fdfdfd);
	font-family: "Barlow", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
	overflow: hidden;
  padding: 0;
}

.container {
	margin: 100px 50px;
}

.name {
	color: #2d2d2d;
	font-size: 24px;
	font-weight: 400;
}

.title {
	color: #4d4d4d;
	font-size: 32px;
	font-weight: 200;
}

.contact {
	color: #adadad;
	font-size: 16px;
	font-weight: 400;
	margin: 5px 0 0 0;
	text-decoration: none;
	border-bottom: 1px dotted #ddd;
}

.flex.horizontal,
.flex.vertical{
  display: flex;
}

.flex.horizontal {
  flex-direction: row;
}

.flex.vertical {
  flex-direction: column;
}

.flex.end-justified {
  justify-content: flex-end;
}

.flex.full-height {
  height: 100%;
}
.flex.full-width {
  width: 100%;
}